@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*
{
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
}
#canvas
{
    position: fixed;
    top: 0;
    left: 0;
}
#title
{
    opacity: 100;
    transition: opacity 0.2s;
    font-size: 22px;
    font-weight: 600;
    margin-left: 100px;
}
